<div class="container user_info">
  <div class="row">  <% @users.each do |user| %>

<div class="col-md-6">
   <h4><strong>Name:</strong> <%= user.name %></h4>
    <h4>Service Provider in Question: <%= user.service_provider %></h4>
</div>

<div class="col-md-6">
  <ul>
    <li>Monthly Cost: <%= user.monthly_cost %></li>
    <li> Paid Download Speed: <%= user.paid_download %></li>
    <li> Paid Upload Speed: <%= user.paid_upload %></li>
    <li> Area Code: <%= user.area_code %></li>
    <li> Created at: <%=user.created_at %></li>
  </ul></div>

  <% end %>
  </div>
</div>


<section class="container">

  <div class="row">

    <div class="col-md-6">
      <h1 class="chart_title">Ping Data</h1>
      <%= line_chart @ping_data %>
    </div>

    <div class="col-md-6">
      <h1 class="chart_title">Download Data</h1>
      <%=line_chart @download_data  %>
    </div>

  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="chart_title">Upload Speed</h1>
      <%= line_chart @upload_data %>
    </div>
  </div>
</div>
