<h1>HELLO USER</h1>




<h2><%= @pi_data.count %></h2>

<%= @pi_data.each do |data| %>
<ul>
  <li><%= data.created_at %></li>
  <li><%= data.ping %></li>
  <li><%= data.download %></li>
  <li><%= data.upload %></li>
</ul>

<% end %>
