<h1>HELLO USER</h1>


<%= @pi_data.each do |item| %>
<ul>
  <li> ping: <%=item.ping %></li>
  <li> Download: <%=item.download %></li>
  <li> Upload: <%=item.upload %></li>

</ul>

<% end %>

<h2><%= @pi_data.count %></h2>
