<!-- Page Content -->
<div class="container">

  <p class="featurette-divider"></p>

    <!-- First Featurette -->
    <div class="featurette" id="about">
        <%= image_tag("raspberry_pi_2.jpg", class: "featurette-image img-circle img-responsive pull-right") %>

        <h2 class="featurette-heading">This First Heading
            <span class="text-muted">Will Catch Your Eye</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      <div>


        <%=image_tag("Twitter_Logo_Blue.png", class: "logos") %>
        <%=image_tag("Octocat.png", class:"logos") %>
        <%=image_tag("Gmail-icon.png", class:"logos")  %>
        <%=image_tag("ada_logo.jpeg", class:"logos") %>
      </div>

    </div>

    <!-- <hr class="featurette-divider"> -->


    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Trish Griego 2017</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
