<!-- #index.html.erb -->


<h1 class="jumbotron">Hello World First page</h1>


  <h3>Find SOMETHING...</h3>

  <!-- root_path I pass it recipes_path, the action I want it to go to along with :method => 'get' -->

  <% if @locations.blank? %>
    <h4>There are no locations containing the term <%= params[:search] %>.</h4>
  <% end %>


<%= form_tag root_path, :method => :get do  %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>




<% @search_results.each do |item|  %>
  <ul>
    <li><strong>Name: </strong><%=item.name  %> </li>
    <li> Company: <%=item.company %> </li>
    <li> Max Advertised Download Speed: <%=item.max_ad_download %> </li>
    <li>Max Advertised Upload Speed: <%=item.max_ad_upload %></li>
    <li> Max Download Speed: <%=item.max_download %></li>
    <li> Max Upload Speed: <%=item.max_upload %></li>
  </ul>
<% end %>

  <%# <!-- <%= form_tag(search_broadband_path(), :method => "get") do %>
    <%# search_field_tag("query", nil, :placeholder=>"lat_search") %>
  <%# form_tag(search_broadband_path(), :method => "get") do %>
    <%# search_field_tag("query", nil, :placeholder=>"long_search") %>
    <%# submit_tag "Submit", :name => nil, class: "button" %>
    <%# end %>
    <%#end %>
