<!DOCTYPE html>
<html>
  <head>
    <title>DudeWhatsMySpeed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
 <%= javascript_include_tag 'application' %>
 <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
 <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
 <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>

 <%= csrf_meta_tags %>
  </head>

  <nav class="navbar navbar-default bg-primary navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="myNavbar">
          <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Dude Whats My Speed??</a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#">RasberryPi</a></li> -->
          <li><a href="/welcome/about">About</a></li>
          <li><a href="/welcome/contact">Contact</a></li>
          <% if signed_in? %>
           <li class="login">WELCOME:  <%= current_account.given_name %></li>
          <li> <%= link_to "Log out", logout_path, method: :post %></li>

        <% else %>
              <li><a href="/login" class="login">Login</a></li>

          <% end %>

        </ul>
      </div>
    </div>
  </nav>


  <body>
    <%= yield %>
  </body>
</html>
